# OS / editor
.DS_Store

# dependencies
node_modules

# build cache and logs
.cache
dist
npm-debug.log

# generated build artifacts
*.css
*.map
*.html
*.pdf
*.patch
!src/**/*.html

# claude code - ignore all except settings.json
.claude/*
!.claude/settings.json

# Standard junk files
*.swp
*.swo
*.pyc
*.pyo
*.class
*.o
*.obj
Thumbs.db
desktop.ini
*.log
.terraform
.ipynb_checkpoints
.history
bin
obj
_build
logs
log
tmp
temp
.serverless
.expo
.expo-shared
.docusaurus
.angular
.svelte-kit
Pods
DerivedData
