:root {
  --colorBgMain: #0d1117;
  --colorBgSecondary: #161b22;
  --colorBgHover: #102138;
  --colorTextMain: #c9d1d9;
  --colorTextLight: #999;
  --colorTextLink: #58a6ff;
  --colorBorderMain: #58a6ff;
  --colorBorderSecondary: #30363d;
  --colorShadow: #333;
}
.light-theme {
  --colorBgMain: #fff;
  --colorBgSecondary: #f2f2f2;
  --colorBgHover: #f2f2f2;
  --colorTextMain: #000;
  --colorTextLight: #666;
  --colorTextLink: #005594;
  --colorBorderMain: #58a6ff;
  --colorBorderSecondary: #c9d1d9;
  --colorShadow: #aaa;
}
.dark-theme {
  --colorBgMain: #0d1117;
  --colorBgSecondary: #161b22;
  --colorBgHover: #102138;
  --colorTextMain: #c9d1d9;
  --colorTextLight: #999;
  --colorTextLink: #58a6ff;
  --colorBorderMain: #58a6ff;
  --colorBorderSecondary: #30363d;
  --colorShadow: #333;
}
@media (prefers-color-scheme: dark) {
  :root {
    --colorBgMain: #0d1117;
    --colorBgSecondary: #161b22;
    --colorBgHover: #102138;
    --colorTextMain: #c9d1d9;
    --colorTextLight: #999;
    --colorTextLink: #58a6ff;
    --colorBorderMain: #58a6ff;
    --colorBorderSecondary: #30363d;
    --colorShadow: #333;
  }
}
@media print, (prefers-color-scheme: light) {
  :root {
    --colorBgMain: #fff;
    --colorBgSecondary: #f2f2f2;
    --colorBgHover: #f2f2f2;
    --colorTextMain: #000;
    --colorTextLight: #666;
    --colorTextLink: #005594;
    --colorBorderMain: #58a6ff;
    --colorBorderSecondary: #c9d1d9;
    --colorShadow: #aaa;
  }
}
:root {
  --colorWhite: #fff;
  --colorBlack: #000;
  --colorBlacklight: #333;
}
:root {
  --fontFamilyMain: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --fontSize1: 1.25rem;
  --fontSize2: 1.1rem;
  --fontSize3: 1rem;
  --spaceSizeAuto: auto;
  --spaceSize0: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
form,
pre,
p,
ul {
  margin: 0;
  padding: 0;
}
.h1,
h1 {
  font-size: var(--fontSize1);
}
.h2,
h2 {
  font-size: var(--fontSize2);
}
.h3,
h3 {
  font-size: var(--fontSize3);
}
a {
  color: var(--colorTextLink);
  font-weight: bold;
}
html {
  font-family: var(--fontFamilyMain);
  background-color: var(--colorBgMain);
  color: var(--colorTextMain);
}
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
}
.paper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem 1rem;
}
.paper .row-container {
  display: flex;
  flex-wrap: wrap;
}
.paper .row-container.col-gap1 {
  column-gap: 1rem;
}
.paper .row-container.row-gap1 {
  row-gap: 0.5rem;
  flex-direction: column;
}
.paper .list-items {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  list-style: none;
}
.paper .list-items > *::before {
  content: '-';
  margin-right: 0.2rem;
}
@media print {
  .paper {
    padding: 0;
    margin: 0;
  }
}
