:root {
  --main-bg-color: white;
  --color-background: white;
  --color-current: silver;
  --color-selection: #44475a;
  --color-foreground: black;
  --color-comment: black;
  --color-cyan: blue;
  --color-green: green;
  --color-orange: blue;
  --color-pink: pink;
  --color-purple: purple;
  --color-red: red;
  --color-yellow: blue;
  --color-white: #fff;
  --color-black: #000;
  --color-blacklight: #333;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: coral;
    --color-background: #282a36;
    --color-current: #44475a;
    --color-selection: #44475a;
    --color-foreground: #f8f8f2;
    --color-comment: #6272a4;
    --color-cyan: #8be9fd;
    --color-green: #50fa7b;
    --color-orange: #ffb86c;
    --color-pink: #ff79c6;
    --color-purple: #bd93f9;
    --color-red: #ff5555;
    --color-yellow: #f1fa8c;
    --color-white: #fff;
    --color-black: #000;
    --color-blacklight: #333;
  }
}
body {
  font-size: 14px;
}
.mt1-,
.m1-,
.mv1- {
  margin-top: 3px;
}
.mb1-,
.m1-,
.mv1-,
.row {
  margin-bottom: 3px;
}
.ml1-,
.m1-,
.ms1- {
  margin-left: 3px;
}
.mr1-,
.m1-,
.ms1- {
  margin-right: 3px;
}
.mt0,
.m0,
.mv0 {
  margin-top: 8px;
}
.mb0,
.m0,
.mv0 {
  margin-bottom: 8px;
}
.ml0,
.m0,
.ms0 {
  margin-left: 8px;
}
.mr0,
.m0,
.ms0 {
  margin-right: 8px;
}
.pt1-,
.p1-,
.pv1- {
  padding-top: 3px;
}
.pb1-,
.p1-,
.pv1- {
  padding-bottom: 3px;
}
.pl1-,
.p1-,
.ps1- {
  padding-left: 3px;
}
.pr1-,
.p1-,
.ps1- {
  padding-right: 3px;
}
.pt0,
.p0,
.pv0 {
  padding-top: 8px;
}
.pb0,
.p0,
.pv0 {
  padding-bottom: 8px;
}
.pl0,
.p0,
.ps0 {
  padding-left: 8px;
}
.pr0,
.p0,
.ps0 {
  padding-right: 8px;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.uppercase {
  text-transform: uppercase;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.b {
  font-weight: bold;
}
.clearfix {
  clear: both;
  overflow: hidden;
}
.fr {
  float: right;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.row::before {
  content: "\b7";
  margin-right: 3px;
  font-weight: 900;
}
.row::after {
  content: ".";
}
.at:after {
  content: '@';
  color: var(--color-foreground);
}
body {
  color: var(--color-foreground);
}
* {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: var(--color-background);
}
.c0 {
  color: var(--color-foreground);
}
.c1 {
  color: var(--color-cyan);
}
.c2 {
  color: var(--color-yellow);
}
.c3 {
  color: var(--color-background);
}
.c4 {
  color: var(--color-red);
}
.c5 {
  color: var(--color-orange);
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.shrink0 {
  flex-shrink: 0;
}
.grow1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
@media screen {
  body {
    max-width: 1024px;
    width: calc(100% - 40px);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  a {
    color: var(--color-orange);
  }
  a:hover {
    color: var(--color-red);
  }
  .row::before {
    color: var(--color-red);
  }
  .visible-screen {
    display: initial;
  }
}
@media screen and (max-width: 500px) {
  .job-location,
  .job-time-description {
    display: block;
    float: none;
  }
}
@media print {
  @page {
    margin: 0;
  }
  body {
    background-color: var(--color-white);
    color: var(--color-blacklight);
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .bold {
    color: var(--color-black);
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-size: 12px;
  }
  .c0,
  .c1,
  .c2,
  .c3,
  .c4,
  .c5 {
    color: var(--color-blacklight);
  }
  .visible-screen {
    display: none;
  }
}
