<!DOCTYPE html>
<html lang="en">
  <head>
    <title>syle-resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords"   content="resume, synle, sy le, front end engineer, full stack engineer.">
    <meta  name="Description" content="I'm Sy Le, a software engineer with 10+ years of experience developing web applications at Linkedin, Salesforce, and Yahoo. Throughout my career, I had built solutions for CRM, Marketing Automation, e-commerce and monitoring platform. My specialty is JavaScript / React on the front end and Node JS / Express on the backend. But I believe in continuous learning and willing to learn whatever requires to get the job done." />
    <link
      rel="icon"
      href="data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2016%2016'%3E%3Ctext%20x%3D'0'%20y%3D'16'%3E🧑%3C%2Ftext%3E%3C%2Fsvg%3E" />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <!-- Contact Info -->
    <header class="page-header visible-print-flex">
      <span class="bold3 cap">Sy Le</span>
      <span class="cap">SF Bay Area, CA</span>
      <a href="tel:1-408-216-3428" class="info-phone cap">408-216-3428</a>
      <a href="mailto:lenguyensy@gmail.com" class="info-email cap">le.nguyen.sy@gmail.com</a>
      <a href="//synle.github.io" class="info-github visible-print cap">synle.github.io</a>
      <a href="//linkedin.com/in/syle1021/" class="info-linkedin visible-print cap">linkedin.com/in/syle1021</a>
    </header>

    <header class="page-header visible-desktop visible-mobile mb4">
      <div class="bold3 cap">Sy Le</div>
      <div class="cap">SF Bay Area, CA</div>
      <div><a href="tel:1-408-216-3428" class="info-phone cap">408-216-3428</a></div>
      <div><a href="mailto:lenguyensy@gmail.com" class="info-email cap">le.nguyen.sy@gmail.com</a></div>
    </header>

    <!--   social links   -->
    <section class="social-links visible-screen-flex">
      <a href="//linkedin.com/in/syle1021" class="info-linkedin cap" title="Linkedin Profile"> Linkedin </a>
      <a href="//github.com/synle" class="info-github cap ms4" title="Github Profile"> github.com/synle </a>
      <a href="/syle-resume.pdf" download="" class="cap" title="Download Resume"> Resume </a>
    </section>

    <!-- summary  -->
    <div class="section-header z3">
      <div class="bold3">Summary</div>
    </div>
    <div class="education-container section-content">
      I'm Sy Le, a software engineer with {{yoe}} years of experience developing web applications
      at Linkedin, Salesforce, and Yahoo. Throughout my career, I had built solutions for CRM, Marketing Automation,
      e-commerce and monitoring platform. My specialty is JavaScript / React on the front end and Node JS / Express on the backend.
      But I believe in continuous learning and willing to learn anything to get the job done.
    </div>


    <!-- Educations -->
    <div class="section-header z3">
      <div class="bold3">Education</div>
    </div>
    {{#Education}}
      <div class="education-container section-content">
        {{#rows}}
          <div class="education-header z2">
            <div class="education-title">{{degree}} <span class="in"></span> {{program}}</div>
            <div class="education-location">{{school}}</div>
            <div class="education-time-description">{{graduated}}</div>
          </div>
          <ul class="education-description c0">
            {{#items}}
              <li class="row">{{{.}}}</li>
            {{/items}}
          </ul>
        {{/rows}}
      </div>
    {{/Education}}

    <!-- Experience -->
    <div class="section-header z2">
      <div class="bold3">Experience</div>
    </div>
    {{#Experience}}
      <div class="job-container section-content">
        {{#rows}}
          <div class="job-header z3">
            <div class="job-title">{{title}} <span class="at"></span> {{company}}</div>
            <div class="job-location">{{location}}</div>
            <div class="job-time-description">{{duration}}</div>
          </div>
          <ul class="job-description">
            {{#items}}
              <li class="row">{{{.}}}</li>
            {{/items}}
          </ul>
        {{/rows}}
      </div>
    {{/Experience}}

    <!-- Side Project -->
    <div class="section-header z4">
      <div class="bold3">Side Projects</div>
    </div>
    {{#SideProjects}}
      {{#rows}}
        <ul class="side-project-container section-content c0">
          {{#items}}
            <li class="row">{{{.}}}</li>
          {{/items}}
        </ul>
      {{/rows}}
    {{/SideProjects}}

    <!-- Skills -->
    <div class="section-header z5">
      <div class="bold3">Skills</div>
    </div>
    {{#Skills}}
      {{#rows}}
        <ul class="skill-container section-content c0">
          {{#items}}
            <li class="row">{{{.}}}</li>
          {{/items}}
        </ul>
      {{/rows}}
    {{/Skills}}
  </body>

  <!-- minor scripts -->
  <script>
    (function () {
      // hooking up service worker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('/sw.js');
        });
      }

      // set up anchor rel attr
      try {
        for(const anchorTag of document.querySelectorAll('a')){
          anchorTag.setAttribute('target', '_blank');
          anchorTag.setAttribute('rel', 'noopener noreferrer');
        }
      } catch (e) {}

      // dark mode toggle
      let isDarkMode = false;
      try {
        isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
      } catch (e) {}
      document.querySelector('html').classList.toggle('light-theme', !isDarkMode);
    })();
  </script>
</html>
