:root {
  --space-auto: auto;
  --space-0: 0;
  --space-1: 3px;
  --space-2: 10px;
  --space-3: 14px;
  --space-4: 20px;

  --page-width: 1100px;

  --font-family-1: Helvetica, Tahoma, Geneva, sans-serif;
}

// light theme by default
:root {
  --color-background: white;
  --color-foreground: black;
  --color-cyan: #0c8ac2;
  --color-green: green;
  --color-orange: #0c8ac2;
  --color-pink: pink;
  --color-purple: purple;
  --color-red: red;
  --color-yellow: #0c8ac2;
  --color-white: #fff;
  --color-whiteLight: #ccc;
  --color-black: #000;
  --color-blacklight: #333;
}

// vars for color - Dark Mode (https://github.com/dracula/dracula-theme)
.prefers-dark-color-scheme {
  --color-background: #282a36;
  --color-foreground: #f8f8f2;
  --color-cyan: #8be9fd;
  --color-green: #50fa7b;
  --color-orange: #ffb86c;
  --color-pink: #ff79c6;
  --color-purple: #bd93f9;
  --color-red: #ff5555;
  --color-yellow: #f1fa8c;
  --color-white: #fff;
  --color-black: #000;
  --color-blacklight: #333;
}

@media (prefers-color-scheme: dark) {
  // system dark mode will extend dark color scheme
  :root:extend(.prefers-dark-color-scheme) {
  }
}

//utils
.mtauto,
.mauto,
.mvauto {
  margin-top: var(--space-auto);
}
.mbauto,
.mauto,
.mvauto {
  margin-bottom: var(--space-auto);
}
.mlauto,
.mauto,
.msauto {
  margin-left: var(--space-auto);
}
.mrauto,
.mauto,
.msauto {
  margin-right: var(--space-auto);
}

.mt1,
.m1,
.mv1 {
  margin-top: var(--space-1);
}
.mb1,
.m1,
.mv1 {
  margin-bottom: var(--space-1);
}
.ml1,
.m1,
.ms1 {
  margin-left: var(--space-1);
}
.mr1,
.m1,
.ms1 {
  margin-right: var(--space-1);
}

.mt2,
.m2,
.mv2 {
  margin-top: var(--space-2);
}
.mb2,
.m2,
.mv2 {
  margin-bottom: var(--space-2);
}
.ml2,
.m2,
.ms2 {
  margin-left: var(--space-2);
}
.mr2,
.m2,
.ms2 {
  margin-right: var(--space-2);
}

.mt3,
.m3,
.mv3 {
  margin-top: var(--space-3);
}
.mb3,
.m3,
.mv3 {
  margin-bottom: var(--space-3);
}
.ml3,
.m3,
.ms3 {
  margin-left: var(--space-3);
}
.mr3,
.m3,
.ms3 {
  margin-right: var(--space-3);
}

.mt4,
.m4,
.mv4 {
  margin-top: var(--space-4);
}
.mb4,
.m4,
.mv4 {
  margin-bottom: var(--space-4);
}
.ml4,
.m4,
.ms4 {
  margin-left: var(--space-4);
}
.mr4,
.m4,
.ms4 {
  margin-right: var(--space-4);
}

.pt1,
.p1,
.pv1 {
  padding-top: var(--space-1);
}
.pb1,
.p1,
.pv1 {
  padding-bottom: var(--space-1);
}
.pl1,
.p1,
.ps1 {
  padding-left: var(--space-1);
}
.pr1,
.p1,
.ps1 {
  padding-right: var(--space-1);
}

.pt2,
.p2,
.pv2 {
  padding-top: var(--space-2);
}
.pb2,
.p2,
.pv2 {
  padding-bottom: var(--space-2);
}
.pl2,
.p2,
.ps2 {
  padding-left: var(--space-2);
}
.pr2,
.p2,
.ps2 {
  padding-right: var(--space-2);
}

.pt3,
.p3,
.pv3 {
  padding-top: var(--space-3);
}
.pb3,
.p3,
.pv3 {
  padding-bottom: var(--space-3);
}
.pl3,
.p3,
.ps3 {
  padding-left: var(--space-3);
}
.pr3,
.p3,
.ps3 {
  padding-right: var(--space-3);
}

.pt4,
.p4,
.pv4 {
  padding-top: var(--space-4);
}
.pb4,
.p4,
.pv4 {
  padding-bottom: var(--space-4);
}
.pl4,
.p4,
.ps4 {
  padding-left: var(--space-4);
}
.pr4,
.p4,
.ps4 {
  padding-right: var(--space-4);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.bold1 {
  font-weight: 300;
}
.bold2 {
  font-weight: bold;
}

.cap {
  text-transform: uppercase;
}

.muted {
  opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
form,
pre,
p {
  margin: 0;
  padding: 0;
}

.h1, h1 {
  font-size: 1.5rem;
}

.h2, h2 {
  font-size: 1.25rem;
}

.h3, h3 {
  font-size: 1.1rem;
}

ul {
  margin-block: inherit;
  padding-inline: inherit;
}

.row {
  margin-bottom: var(--space-2);
  list-style: none;

  &::before {
    content: '\b7';
    margin-right: 2px;
    font-weight: bold;
    vertical-align: middle;
  }
}

.thin-line {
  height: 2px;
  border-top: 2px solid #c1c1c1;
  background: #c1c1c1;
}

.at:after {
  content: '@';
  color: var(--color-foreground);
}

#daynight-toggle {
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 5;
  user-select: none;
  font-size: 20px;
}

// start
html {
  font-size: 16px;
  color: var(--color-foreground);
  font-family: var(--font-family-1);
}

* {
  background-color: var(--color-background);
  line-height: 1.5;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}

// app colors
.c0 {
  color: var(--color-foreground);
}
.c1 {
  color: var(--color-cyan);
}

// display helpers
.block {
  display: block;
}
.flex {
  display: flex;
}
.w100pct {
  width: 100%;
}

// flex helpers
.shrink0 {
  flex-shrink: 0;
}
.grow1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.hidden {
  display: none;
}

// custom stuffs
.hr {
  height: 2px;
  background: var(--color-whiteLight);
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}

//screen only stuffs
@media screen {
  :root {
    --space-0: 0;
    --space-1: 5px;
    --space-2: 12px;
    --space-3: 16px;
    --space-4: 20px;
  }

  * {
  }

  body {
    max-width: var(--page-width);
    width: calc(~'100% - 40px');
    margin: var(--space-auto);
  }

  a {
    color: var(--color-cyan);

    &:hover {
      color: var(--color-red);
    }
  }

  .row::before {
    color: #666;
  }

  .visible-screen {
    display: block;
  }
  .visible-screen-flex {
    display: flex;
  }
  .visible-print {
    display: none;
  }
  .visible-print-flex {
    display: none;
  }

  .section-header {
    position: sticky;
    top: 0;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

// desktop
@media screen and (min-width: var(--page-width)) {
  body {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  header * {
    padding-bottom: var(--space-3);
    padding-top: var(--space-3);
  }
  .section-header {
    margin-bottom: 10px !important;
  }
  .job-header {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  ul {
    margin-left: 20px;
  }
}

// mobile
@media screen and (max-width: 500px) {
  * {
    line-height: 1.5;
  }

  header {
    padding-top: var(--space-2);
    padding-bottom: var(--space-1);

    * {
      padding-block: var(--space-1);
    }
  }

  .section-header {
    margin-bottom: 10px !important;
  }

  .job-header {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    * {
      display: inline;
    }
  }

  .separator {
    margin-inline: var(--space-2) !important;
  }

  body {
    width: calc(~'100% - 30px');
  }

  .job-header {
    margin-left: 0;
  }

  ul {
    margin-left: 0;
  }
}

// printer
@media print {
  :root {
    --space-0: 0;
    --space-1: 3px;
    --space-2: 6px;
    --space-3: 9px;
    --space-4: 12px;
  }

  @page {
    margin: var(--space-0);
  }

  header * {
    padding-block: var(--space-2);
  }

  * {
    line-height: normal;
  }

  .job-header {
    margin-left: 10px;
  }

  ul {
    margin-left: 20px;
  }

  body {
    background-color: var(--color-white);
    color: var(--color-blacklight);
    width: 100%;
    padding: var(--space-2) var(--space-4);
    margin: 0;
  }

  .bold {
    color: var(--color-black);
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  * {
    font-size: 12px !important;
  }

  .c0,
  .c1,
  .c2,
  .c3,
  .c4,
  .c5 {
    color: var(--color-blacklight);
  }

  .visible-screen,
  .visible-screen-flex {
    display: none;
  }

  .visible-print {
    display: block;
  }

  .visible-print-flex {
    display: flex;
  }

  .row,
  .job-header {
    margin-bottom: var(--space-1);
  }

  a {
    color: var(--color-black) !important;
    font-weight: bold;
  }

  .section-header {
    opacity: 0.7;
  }
}
