@fontFamily0: Tahoma, Geneva, sans-serif;
@fontFamily1: "Times New Roman", Times, serif;
@fontFamily2: Impact, Charcoal, sans-serif;

@fontSize0: 1rem;
@fontSize1: 1.2rem;

@fontWeight2: 900;

@space0: 0;
@space1: 3px;
@space2: 8px;
@space3: 12px;
@space4: 20px;
@space-auto: auto;

@width-max: 100%;


//stuffs that make up the app
@width-page: 1024px;


// vars for color - Bright Mode
:root {
  --main-bg-color: white;
  // https://github.com/dracula/dracula-theme
  --color-background: white;
  --color-current: silver;
  --color-selection:  #44475a;
  --color-foreground: black;
  --color-comment: black;
  --color-cyan:   blue;
  --color-green:  green;
  --color-orange: blue;
  --color-pink:   pink;
  --color-purple: purple;
  --color-red: red;
  --color-yellow: blue;
  --color-white: #fff;
  --color-black: #000;
  --color-blacklight: #333;
}

// vars for color - Dark Mode
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: coral;
    // https://github.com/dracula/dracula-theme
    --color-background: #282a36;
    --color-current :#44475a;
    --color-selection:  #44475a;
    --color-foreground: #f8f8f2;
    --color-comment :#6272a4;
    --color-cyan:   #8be9fd;
    --color-green:  #50fa7b;
    --color-orange: #ffb86c;
    --color-pink:   #ff79c6;
    --color-purple: #bd93f9;
    --color-red :#ff5555;
    --color-yellow: #f1fa8c;
    --color-white: #fff;
    --color-black: #000;
    --color-blacklight: #333;
  }
}


@colorBackground:  var(--color-background);
@colorCurrent : var(--color-current);
@colorSelection:  var(--color-selection);
@colorForeground:  var(--color-foreground);
@colorComment : var(--color-comment);
@colorCyan:  var(--color-cyan);
@colorGreen:  var(--color-green);
@colorOrange:  var(--color-orange);
@colorPink:  var(--color-pink);
@colorPurple:  var(--color-purple);
@colorRed : var(--color-red);
@colorYellow:  var(--color-yellow);
@colorWhite:  var(--color-white);
@colorBlack:  var(--color-black);
@colorBlackLight:  var(--color-blacklight);

// color used by the app
@color0: @colorForeground; // main color
@color1: @colorCyan;
@color2: @colorCyan;
@color3: @colorBackground; // background color
@color4: @colorRed; // list dot, and highlight
@color5: @colorCyan; // link
@color6: #ccc; // minor separator

// Use these for more colorful schemes
// @color2: @colorYellow;
// @color5: @colorOrange; // link

body{
    font-size: 14px;
}

//utils
.mtauto, .mauto, .mvauto { margin-top: auto }
.mbauto, .mauto, .mvauto { margin-bottom: auto }
.mlauto, .mauto, .msauto { margin-left: auto }
.mrauto, .mauto, .msauto { margin-right: auto }

.mt1, .m1, .mv1 { margin-top: @space1 }
.mb1, .m1, .mv1 { margin-bottom: @space1 }
.ml1, .m1, .ms1 { margin-left: @space1 }
.mr1, .m1, .ms1 { margin-right: @space1 }

.mt2, .m2, .mv2 { margin-top: @space2 }
.mb2, .m2, .mv2 { margin-bottom: @space2 }
.ml2, .m2, .ms2 { margin-left: @space2 }
.mr2, .m2, .ms2 { margin-right: @space2 }

.mt3, .m3, .mv3 { margin-top: @space3 }
.mb3, .m3, .mv3 { margin-bottom: @space3 }
.ml3, .m3, .ms3 { margin-left: @space3 }
.mr3, .m3, .ms3 { margin-right: @space3 }

.mt4, .m4, .mv4 { margin-top: @space4 }
.mb4, .m4, .mv4 { margin-bottom: @space4 }
.ml4, .m4, .ms4 { margin-left: @space4 }
.mr4, .m4, .ms4 { margin-right: @space4 }

.pt1, .p1, .pv1 { padding-top: @space1 }
.pb1, .p1, .pv1 { padding-bottom: @space1 }
.pl1, .p1, .ps1 { padding-left: @space1 }
.pr1, .p1, .ps1 { padding-right: @space1 }

.pt2, .p2, .pv2 { padding-top: @space2 }
.pb2, .p2, .pv2 { padding-bottom: @space2 }
.pl2, .p2, .ps2 { padding-left: @space2 }
.pr2, .p2, .ps2 { padding-right: @space2 }

.pt3, .p3, .pv3 { padding-top: @space3 }
.pb3, .p3, .pv3 { padding-bottom: @space3 }
.pl3, .p3, .ps3 { padding-left: @space3 }
.pr3, .p3, .ps3 { padding-right: @space3 }

.pt4, .p4, .pv4 { padding-top: @space4 }
.pb4, .p4, .pv4 { padding-bottom: @space4 }
.pl4, .p4, .ps4 { padding-left: @space4 }
.pr4, .p4, .ps4 { padding-right: @space4 }


*{
    box-sizing:border-box;
}


a{
    text-decoration: none;
}

.tac{
    text-align:center;
}

.tar{
    text-align:right;
}

.bold1{
    font-weight: 300;
}
.bold2{
    font-weight: bold;
}

.cap{
    text-transform: uppercase;
}

.muted{
    opacity: .7;
}

.clearfix{
    clear:both;
    overflow: hidden;
}

.fr{
    float:right;
}


h1, h2, h3, h4, h5, h6, p{
    margin:0;
}

.row{
    margin-bottom: @space2;

    &::before {
        content: "\b7";
        margin-right: 3px;
        font-weight: bold;
        font-size: 24px;
        vertical-align: middle;
        line-height: 10px;
    }

    &::after {
        content: ".";
    }
}

.at:after {
    content: '@';
    color: @colorForeground;
}


// start
body{
    color: @color0;
}
*{
    font-family: @fontFamily0;
    background-color: @color3;
}

// app colors
.c0{
    color: @color0;
}
.c1{
    color: @color1;
}
.c2{
    color: @color2;
}
.c3{
    color: @color3;
}
.c4{
    color: @color4;
}
.c5{
    color: @color5;
}


// display helpers
.block{
    display:block;
}
.flex{
    display: flex;
}
.w100pct{
    width: 100%;
}

// flex helpers
.shrink0{
    flex-shrink: 0;
}
.grow1{
    flex-grow: 1;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.hidden{
    display: none;
}


// custom stuffs
.hr {
    height: 2px;
    background: @color6;
    margin-top: @space3;
    margin-bottom: @space3;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}

//screen only stuffs
@media screen {
    *{}

    body{
        max-width: @width-page;
        width: calc(~"100% - 40px");
        margin: @space-auto;
    }

    a{
        color: @color5;

        &:hover{
            color: @color4;
        }
    }

    .row::before {
        color: #666;
    }

    .visible-screen{
        display: block;
    }
    .visible-screen-flex{
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    // .job-location, .job-time-description{
    //     display:block;
    //     float:none;
    // }
}

@media print {
    @page {
        margin: @space0;
    }

    *{}

    body {
        background-color: @colorWhite;
        color: @colorBlackLight;
        width: @width-max;
        padding: @space2 @space3;
    }

    .bold {
        color: @colorBlack;
    }

    body, h1, h2, h3, h4, h5, h6, p {
        font-size:12px;
    }

    .c0, .c1, .c2, .c3, .c4, .c5 {
        color: @colorBlackLight;
    }

    .visible-screen, .visible-screen-flex{
        display:none;
    }

    .row, .job-header{
        margin-bottom: @space1;
    }

    a{
        color: @colorBlack !important;
        font-weight: bold;
    }
    .section-header{
        opacity: .7;
    }
}

.thin-line{
    height: 2px;
    border-top: 2px solid #ccc;
    background: #ccc;
}