body {
  background: #000;
}

load {
  box-sizing: border-box;
  border-top: 5px solid #58a6ff;
  animation: 2s ease-out loadingBar;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

/* animation */
@keyframes loadingBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
