// @import '/common'; // local dev
@import 'https://raw.githubusercontent.com/synle/synle.github.io/master/common.less';

:root {
  --borderSize1: 2px;
  --borderSize2: 4px;
  --borderSize3: 5px;
  --borderSize4: 0.5rem;

  --spaceSize1: 0.5rem;
  --spaceSize2: 0.7rem;
  --spaceSize3: 1rem;
  --spaceSize4: 2rem;
  --spaceSize5: 3rem;

  --gridGapHeight: 1rem;
  --gridGapWidth: 1.25rem;
  --gridColumnLayout: calc(275px - var(--gridGapWidth)) calc(275px - var(--gridGapWidth))
    calc(275px - var(--gridGapWidth));

  --maxBodyWidth: 900px;
}

*,
::placeholder {
  box-sizing: border-box;
  color: var(--colorTextMain);
}

html,
body {
  &,
  &:before,
  &:after {
    height: 100%;
    border: none !important;
    background-color: var(--colorBgMain) !important;
  }
  font-size: 16px;
}

body {
  margin: auto !important;
  min-width: calc(100% - 30px);
  max-width: var(--maxBodyWidth);
  font-family: var(--fontFamilyMain);
  font-weight: var(--fontWeightLight);
  overflow-y: auto !important;
}

button,
a {
  transition: all 0.15s ease-out;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--fontWeightSemiBold);
  color: var(--colorTextLink);
  border: var(--borderSize1) solid var(--colorBorderSecondary);
  display: block;
  text-decoration: none;
  user-select: none;
  padding: var(--spaceSize2);
  outline: none;
  background: var(--colorBgMain);
  font-size: 1rem;
  font-family: var(--fontFamilyMain);
  word-break: break-all;

  &:hover {
    background: var(--colorBgSecondary) !important;
  }

  &:focus {
    background: var(--colorBgHover) !important;
  }
}

input,
textarea {
  transition: all 0.15s ease-out;
  font-weight: var(--fontWeightLight);
  background: var(--colorBgMain);
  outline: none;
  font-size: 1rem;
  font-family: var(--fontFamilyMain);

  &:hover {
    background: var(--colorBgSecondary) !important;
  }

  &:focus {
    background: var(--colorBgHover) !important;
  }
}

#fav,
#command {
  margin: auto;
  padding: var(--spaceSize3) var(--spaceSize3) var(--spaceSize4) var(--spaceSize3);

  > * {
    animation: fadeInFromNone 0.5s ease-out;
    text-align: left;
  }

  .title {
    .h1();
    padding: var(--spaceSize2);
    text-transform: uppercase;
    text-align: center;
    border-top: var(--borderSize2) solid var(--colorBorderMain);
    border-bottom: var(--borderSize2) solid var(--colorBorderMain);
    font-weight: var(--fontWeightBold);
  }

  .header {
    .h3();
    text-transform: uppercase;
    background: var(--colorBgSecondary);
    border-left: var(--borderSize4) solid var(--colorBorderMain);
    font-weight: var(--fontWeightBold);
    box-shadow: 0 4px 4px -2px var(--colorShadow);
  }

  .title,
  .header,
  .block,
  .tabs,
  .commands,
  form {
    grid-column: 1/-1;
  }

  .commands {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: var(--spaceSize3);

    > * {
      flex-grow: 1;
      margin-right: var(--spaceSize4);
      max-width: 220px;

      &:last-child {
        margin-right: 0;
      }
    }

    a,
    button {
      text-align: center !important;
    }
  }

  &#fav {
    display: grid;
    grid-template-columns: var(--gridColumnLayout);
    grid-gap: var(--spaceSize3) var(--gridGapWidth);
    justify-content: center;

    .header {
      position: sticky;
      z-index: 0;
      top: 0;
      user-select: none;
      padding: var(--spaceSize2);
    }

    .block {
      background: var(--colorBgSecondary);

      &:focus {
        background: var(--colorBgSecondary) !important;
      }

      &.codeBlock {
        padding: var(--spaceSize2);
        overflow: hidden;
        font-family: var(--fontFamilyMonospace);
      }

      &.htmlBlock {
      }
    }

    .tabs {
      background: var(--colorBgSecondary);
      display: flex;

      tab {
        flex-grow: 1;
        border-bottom: var(--borderSize2) solid var(--colorBorderSecondary);
        padding: var(--spaceSize2) var(--spaceSize3);
        user-select: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: border 0.2s ease-out;

        &:hover,
        &:focus {
          border-bottom: var(--borderSize2) solid var(--colorBorderMain);
        }

        &.selected {
          border-bottom: var(--borderSize2) solid var(--colorBorderMain);
          font-weight: var(--fontWeightSemiBold);
        }
      }
    }

    #searchForm {
      position: sticky;
      bottom: 0;
      z-index: 1;

      #search {
        background: var(--colorBgMain);
        border: var(--borderSize1) solid var(--colorBorderSecondary);
        padding: var(--spaceSize1) var(--spaceSize2);
        width: 100%;
      }
    }
  }

  &#command {
    display: flex;
    flex-direction: column;
    max-width: var(--maxBodyWidth);
    min-height: 100%;
    height: 100%;

    #input,
    #output {
      height: 80px;
      background: var(--colorBgMain);
      border: var(--borderSize1) solid var(--colorBorderSecondary);
      padding: var(--spaceSize1) var(--spaceSize2);
      width: 100%;
      font-family: var(--fontFamilyMonospace);

      &#input {
        white-space: nowrap;
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background: var(--colorBgMain);
    z-index: 1;
    transition: all 0.2s ease-out;

    button,
    a {
      text-align: center;
      width: 100%;
    }
  }

  .dropdown .dropdown-trigger {
    width: 100%;
    display: block;
    padding: var(--spaceSize2);
    text-align: center;
  }

  &:hover {
    .dropdown-content {
      display: block;
      animation: fadeInFromNone 0.2s ease-out;
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-out;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  font-size: 16px;
  background: rgba(80, 80, 80, 0.6);
  color: var(--colorTextMain);

  > * {
    max-width: var(--maxBodyWidth);
    width: 100%;
    padding: var(--spaceSize3);
  }

  &#alertModal {
    #alertBody {
      font-weight: var(--fontWeightBold);
      background: var(--colorBgSecondary);
      padding: var(--spaceSize4) var(--spaceSize3);
      text-align: center;
      box-shadow: 0 4px 4px -2px var(--colorShadow);
    }
  }

  &#promptModal {
    > div {
      font-weight: var(--fontWeightBold);
      background: var(--colorBgSecondary);
      text-align: center;
    }

    > textarea#promptInput {
      max-height: 650px;
      font-family: var(--fontFamilyMonospace);
      border: none !important;
    }
  }
}

// utils
.hidden {
  display: none;
}

@media only screen and (max-width: 825px) {
  :root {
    --gridGapHeight: 0.4rem;
    --gridGapWidth: 0.5rem;
    --gridColumnLayout: calc(50% - var(--gridGapWidth)) calc(50% - var(--gridGapWidth));
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --fontSize1: 1rem;
    --fontSize2: 1rem;
    --fontSize3: 1rem;
    --fontSize4: 1rem;

    --gridGapHeight: 0.2rem;
    --gridGapWidth: 0.25rem;
    --gridColumnLayout: calc(100% - var(--gridGapWidth));
  }

  a,
  button,
  #fav .title,
  #fav .header,
  #fav .block,
  input {
    padding: var(--spaceSize1) var(--spaceSize2);
  }
}

@media print {
  body {
    width: 800px;
    min-width: 800px;
  }
}
