*{ 
  box-sizing: border-box;
}
*, ::placeholder{
  color: white;
}
body{
  margin: auto !important;
  width: 900px;
  font-family: 'arial';
  overflow-y: auto !important;
}
html, body, body:before, body:after{
  border: none !important;
  background-color: black !important;
}
a, h2, h1{
  padding: 10px 20px;
  margin-bottom: 8px;
}
a{
  font-size: 18px;
  background: white;
  color: blue;
  display: block;
  margin-left: 25px;
  text-decoration: none;
  user-select: none
}
a:hover, button:hover{
  filter: invert(.9);
  cursor: pointer;
}
h2{
  font-weight: 900;
  font-size: 18px;
  padding: 0;
  color: white;
  margin-top: 25px;
}
button{
  font-size: 18px;
  margin: 40px auto;
  padding: 10px 20px;
  color: white;
  background: #333;
  border: 1px solid #333;
  display: block;
  user-select: none
}
#search, #input, #output{
  background: #333;
  border: 1px solid #666;
  padding: 8px 10px;
  font-size: 14px;
  font-family: monospace;
  width: 100%;
}
#input, #output{
  height: 300px;
  transition: all 0.3s ease-out;
}
#output{
  background: #6272a4;
  margin-top: 15px;
}
#search{
  position: sticky;
  top: 0;
  margin-top: 10px;
}
