html {
  --borderSize1: 2px;

  --spaceSize1: 0.5rem;
  --spaceSize2: 0.7rem;
  --spaceSize3: 0.8rem;
  --spaceSize4: 1rem;
  --spaceSize5: 1.25rem;
  --spaceSize6: 3rem;

  --fontSize1: 16px;
  --fontSize2: 16px;
  --fontSize3: 22px;

  --gridColumnLayout: 250px 250px 250px;
}

*, ::placeholder {
  box-sizing: border-box;
  color: #fff;
}
html {
  margin-top: var(--spaceSize4);
  margin-bottom: var(--spaceSize6);
}
body {
  margin: auto !important;
  min-width: calc(100% - 30px);
  max-width: 900px;
  font-family: "arial";
  overflow-y: auto !important;
}
html,
body,
body:before,
body:after {
  border: none !important;
  background-color: #282a36 !important;
}
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: var(--fontSize3);
}
h2 {
  font-size: var(--fontSize2);
}
button,
a,
#search,
#input,
#output {
  font-size: var(--fontSize1);
}
a,
button {
  padding: var(--spaceSize2);
  transition: all 0.25s ease-out;
  cursor: pointer;
  border: var(--borderSize1) solid #aaaec9;
}
a {
  background: #6272a4;
  color: #fff;
  display: block;
  text-decoration: none;
  user-select: none;
}
button {
  margin: 0 auto 0 auto;
  background: #333;
  border: var(--borderSize1) solid #fff;
  display: block;
  user-select: none;
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active{
  filter: invert(0.9);
}
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active,
input:focus,
textarea:focus {
  border: var(--borderSize1) solid #8be9fd;
  background: #000;
  outline: none;
}
#fav{
  margin: auto;
  display: grid;
  grid-template-columns: var(--gridColumnLayout);
  grid-gap: var(--spaceSize4) var(--spaceSize5);
  justify-content: center;
}

#fav .header, #fav .title, #fav #search{
  grid-column: 1/-1;
}

.title{
  text-transform: uppercase;
  text-align: center;
  border-top: 2px solid #f1fa8c;
  border-bottom: 2px solid #f1fa8c;
  padding: var(--spaceSize4);
}

.header{
  background: #000;
  border-left: 6px solid #f1fa8c;
  padding: var(--spaceSize1) var(--spaceSize3);
  position: sticky;
  z-index: 1;
  top: 38px;
}

#search,
#input,
#output {
  background: #333;
  border: var(--borderSize1) solid #666;
  padding: var(--spaceSize1) var(--spaceSize2);
  width: 100%;
}
#input,
#output {
  height: 150px;
  transition: all 0.25s ease-out;
  font-family: monospace;
}
#input {
  white-space: nowrap;
}
#output {
  background: #6272a4;
}
#search {
  position: sticky;
  top: 0;
}
#command{
  display: grid;
  grid-gap: var(--spaceSize4) var(--spaceSize5);
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  html {
    --gridColumnLayout: 250px 250px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    --fontSize1: 16px;
    --fontSize2: 16px;
    --fontSize3: 16px;
    --gridColumnLayout: 100%;
  }
}
