@import '/common';

@pageWidthDesktop: 1050px;
@pageWidthTablet: 950px;
@pageWidthMobile: 800px;
@pageWidthPrint: 800px;

:root {
  --spaceSize1: 3px;
  --spaceSize2: 8px;
  --spaceSize3: 14px;
  --spaceSize4: 20px;

  --pageWidthMobile: @pageWidthMobile;
  --pageWidthDesktop: @pageWidthDesktop;
  --pageWidthPrint: @pageWidthPrint;

  --positionSticky: sticky;
}

html {
  font-size: 16px;
  font-family: var(--fontFamilyMain);
  font-weight: var(--fontWeightLight);
  color: var(--colorTextMain);
}

* {
  box-sizing: border-box;
  background-color: var(--colorBgMain);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.bold1 {
  font-weight: var(--fontWeightSemiBold);
}

.bold2 {
  font-weight: var(--fontWeightBold);
}

.cap {
  text-transform: uppercase;
}

.row {
  margin-bottom: var(--spaceSize2);
  list-style: none;

  > span {
    margin-right: 2px;
    vertical-align: middle;
    font-family: monospace;
    .bold2();
  }
}

// z index
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}

// app colors
.c0 {
  color: var(--colorTextMain);
}
.c1 {
  color: var(--colorTextLight);
}
.c2 {
  color: var(--colorTextLink);
}

// display helpers
.hidden {
  display: none;
}

.page-header {
  .h2();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-header {
  .h2();
  .cap();
  .c2();
  .bold1();
  .z2();
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: var(--spaceSize4);
  margin-bottom: var(--spaceSize1);

  &:after {
    content: ' ';
    height: 2px;
    background: var(--colorBorderSecondary);
    margin-left: 10px;
    flex-grow: 1;
  }
}

.section-row-title {
  .h3();
  .bold2();
  .z2();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > * {
    flex-shrink: 0;
  }

  > *:last-child {
    text-align: right;
  }
}

.section-row-content {
  .c1();
}

.social-links {
  .h2();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px;
}

.visible-mobile,
.visible-desktop,
.visible-desktop-flex,
.visible-screen-inline-block,
.visible-print-inline-block {
  display: none;
}

//screen only stuffs
@media screen {
  body {
    max-width: var(--pageWidthDesktop);
    width: calc(~'100% - 40px');
    margin: var(--spaceSizeAuto);
  }

  a {
    .c2();
    .bold1();

    &:hover {
      text-decoration: underline;
    }
  }

  .row {
    > span {
      color: #666;
    }
  }

  .visible-screen {
    display: block;
  }
  .visible-screen-inline-block {
    display: inline-block;
  }
  .visible-screen-flex {
    display: flex;
  }
  .visible-print,
  .visible-print-inline-block,
  .visible-print-flex {
    display: none;
  }

  .section-header {
    position: var(--positionSticky);
    top: 0;
  }

  .row:last-child {
    margin-bottom: 2rem;
  }
}

// desktop
@media screen and (min-width: @pageWidthDesktop) {
  body {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .section-header {
    margin-bottom: 0.5rem;
  }

  .section-row-title {
    position: var(--positionSticky);
    top: 28px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }

  .visible-desktop {
    display: block;
  }
  .visible-desktop-flex {
    display: flex;
  }
}

// tablet
@media screen and (min-width: @pageWidthTablet) and (max-width: @pageWidthDesktop - 1) {
  :root {
    --fontSize1: 1rem;
    --fontSize2: 1rem;
    --fontSize3: 1rem;
  }
}

// mobile
@media screen and (max-width: @pageWidthTablet - 1) {
  * {
    line-height: 1.5;
  }

  body {
    width: calc(~'100% - 30px');
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  .section-header {
    margin-bottom: 10px;
  }

  .section-row-title {
    > * {
      width: 100%;
    }
    > *:last-child {
      text-align: left;
    }
  }

  ul {
    margin-left: 0;
  }

  .visible-mobile {
    display: block;
  }
}

// printer
@media print {
  :root {
    --spaceSize1: 2px;
    --spaceSize2: 5px;
    --spaceSize3: 7px;
    --spaceSize4: 11px;

    --fontSize1: 1rem;
    --fontSize2: 1rem;
    --fontSize3: 1rem;
  }

  * {
    font-size: 11px !important;
  }

  #full_name {
    font-size: 22px !important;
    margin-bottom: 5px;
    display: block;
  }

  @page {
    margin: 1.25rem 1.25rem;
  }

  html,
  body {
    box-sizing: border-box;
  }

  html {
    font-family: var(--fontFamilySecondary);
    font-size: 12px;
    background: #efefef;
  }

  body {
    width: 210mm;
    height: 297mm;
    padding: var(--spaceSize4) 0;
    margin: 0 auto;
    background: #fff;
  }

  header * {
    padding-block: 0;
  }

  * {
    line-height: normal;
  }

  .bold {
    color: var(--colorBlack);
  }

  .c0,
  .c1,
  .c2 {
    color: var(--colorBlacklight);
  }

  .visible-screen,
  .visible-screen-flex {
    display: none;
  }

  .visible-print {
    display: block;
  }

  .visible-print-inline-block {
    display: inline-block;
  }

  .visible-print-flex {
    display: flex;
  }

  a {
    .bold1();
    color: var(--colorBlack);
  }

  .row:last-child {
    margin-bottom: 11px;
  }
}

// mobile and tablet visibility
@media screen and (max-width: @pageWidthDesktop - 1) {
  .visible-mobile {
    display: block;
  }
}

@media screen and (max-height: 500px) {
  :root {
    --positionSticky: static;
  }
}
