<!DOCTYPE html>
<html lang="en">

<head>
  <title>syle-resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="keywords" content="resume, synle, sy le, front end engineer, full stack engineer." />
  <meta name="description" content="{{Summary}}" />
  <link rel="stylesheet" href="/index.css" />
</head>

<body>
  <!-- Contact Info -->
  <section>
    <h1>{{FullName}}</h1>
    <div>{{Location}}</div>
    <div><a href="tel:1-{{PhoneNumber}}">{{PhoneNumber}}</a></div>
    <div><a href="mailto:{{Email}}">{{Email}}</a></div>
    <div>
      <a href="//{{HomePageURL}}">HomePage</a>
      <a href="//{{LinkedinURL}}">LinkedIn</a>
      <a href="//{{GithubURL}}">GitHub</a>
      <a href="{{ResumeURL}}" download>Download Resume</a>
    </div>
  </section>

  <!-- Summary -->
  <section>
    <h2>Summary</h2>
    <p>{{Summary}}</p>
  </section>

  <!-- Education -->
  <section>
    <h2>Education</h2>
    {{#Education}}
    <div>
      {{#rows}}
      <h3>{{degree}}, {{program}}</h3>
      <div>{{school}}, {{graduated}}</div>
      <ul>
        {{#items}}
        <li>{{.}}</li>
        {{/items}}
      </ul>
      {{/rows}}
    </div>
    {{/Education}}
  </section>

  <!-- Work Experience -->
  <section>
    <h2>Work Experience</h2>
    {{#Experience}}
    <div>
      {{#rows}}
      <h3>{{title}} at {{company}}</h3>
      <div>{{location}}</div>
      <div>{{from}} - {{to}}</div>
      <ul>
        {{#items}}
        <li>{{{.}}}</li>
        {{/items}}
      </ul>
      {{/rows}}
    </div>
    {{/Experience}}
  </section>

  <!-- Side Projects -->
  <section>
    <h2>Side Projects</h2>
    <ul>
      {{#SideProjects}}
      {{#rows}}
      <li><a href="{{link}}">{{label}}:</a> {{{description}}}</li>
      {{/rows}}
      {{/SideProjects}}
    </ul>
  </section>

  <!-- Skills -->
  <section>
    <h2>Skills</h2>
    <ul>
      {{#Skills}}
      {{#rows}}
      <li><strong>{{label}}:</strong> {{{description}}}</li>
      {{/rows}}
      {{/Skills}}
    </ul>
  </section>
</body>

<!-- Minor Scripts -->
<script>
  (function () {
    // set up anchor rel attr
    document.querySelectorAll('a').forEach(anchorTag => {
      anchorTag.setAttribute('target', '_blank');
      anchorTag.setAttribute('rel', 'noopener noreferrer');
    });

    // dark mode toggle
    const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
    document.documentElement.classList.toggle('light-theme', !isDarkMode);
  })();
</script>

</html>
