<!DOCTYPE html>
<html lang="en">

<head>
  <title>syle-resume</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="keywords" content="resume, synle, sy le, front end engineer, full stack engineer." />
  <meta name="description" content="{{Summary}}" />
  <link rel="stylesheet" href="/index.css" />
</head>

<body>
  <div class='paper'>
    <!-- Contact Info -->
    <article>
      <div><h1>{{FullName}}</h1></div>
      <header>
        <a href="//{{LocationURL}}">{{Location}}</a>
        <a href="tel:1-{{PhoneNumber}}">{{PhoneNumber}}</a>
        <a href="mailto:{{Email}}" title="Send email">{{Email}}</a>
        <a class='hiddenMobile' href="//{{HomePageURL}}" title="Sy's Homepage">{{HomePageURL}}</a>
        <a href="//{{LinkedinURL}}" title="Linkedin Profile">{{LinkedinURL}}</a>
        <a href="//{{GithubURL}}" title="View Github Contributions">{{GithubURL}}</a>
        <a class='hiddenPrint' href="{{ResumeURL}}" title="Download Resume as PDF" download>Download Resume</a>
      </header>
    </article>

    <!-- Summary -->
    <article>
      <section><h3>Summary:</h3></section>
      <p>{{Summary}}</p>
    </article>

    <!-- Education -->
    <article>
      <section><h3>Education:</h3></section>
      <div class="col-container">
        {{#Education}}
          {{#rows}}
          <div>
            <div class='row-container space-between'>
              <h4>{{school}}</h4>
              <div>{{degree}}, {{program}}</div>
              <div>{{graduated}}</div>
            </div>
            <ul>
              {{#items}}
              <li>{{.}}</li>
              {{/items}}
            </ul>
          </div>
          {{/rows}}
        {{/Education}}
      </div>
    </article>

    <!-- Work Experience -->
    <article>
      <section><h3>Work Experience:</h3></section>
      {{#Experience}}
      <div class="row-container row-gap1">
        {{#rows}}
          <div>
            <div class='row-container space-between'>
              <h4>{{title}} at {{company}}</h4>
              <div>{{location}}</div>
              <div>{{from}} - {{to}}</div>
            </div>
            <ul class='list-items'>
              {{#items}}
              <li>{{{.}}}</li>
              {{/items}}
            </ul>
          </div>
        {{/rows}}
      </div>
      {{/Experience}}
    </article>

    <!-- Side Projects -->
    <article>
      <section><h3>Side Projects:</h3></section>
      <ul class='list-items'>
        {{#SideProjects}}
        {{#rows}}
        <li><a href="{{link}}">{{label}}:</a> {{{description}}}</li>
        {{/rows}}
        {{/SideProjects}}
      </ul>
    </article>

    <!-- Skills -->
    <article>
      <section><h3>Skills:</h3></section>
      <ul class='list-items'>
        {{#Skills}}
        {{#rows}}
        <li><strong>{{label}}:</strong> {{{description}}}</li>
        {{/rows}}
        {{/Skills}}
      </ul>
    </article>
  </paper>
</body>

<!-- Minor Scripts -->
<script>
  (function () {
    // set up anchor rel attr
    document.querySelectorAll('a').forEach(anchorTag => {
      anchorTag.setAttribute('target', '_blank');
      anchorTag.setAttribute('rel', 'noopener noreferrer');
    });

    // dark mode toggle
    const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
    document.documentElement.classList.toggle('light-theme', !isDarkMode);
  })();
</script>

</html>
