@import '/common';

html {
  font-size: 14px;
}

.paper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;
  margin: 2rem 1rem;

  .row-container {
    display: flex;
    flex-wrap: wrap;

    &.col-gap1 {
      column-gap: 1rem;
    }

    &.row-gap1 {
      row-gap: 0.5rem;
      flex-direction: column;
    }
  }

  .list-items {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    list-style: none;

    > *::before {
      content: '-';
      margin-right: 0.2rem;
    }
  }
}

@media print {
  .paper {
    padding: 0;
    margin: 0;
  }
}
